<!-- client/app/users/user.html -->
<div ng-module='boorish.user'>
  <div ng-model='user' ng-controller='UserController'>

  <div class="profile-container">
    <div class="row">
      <div class="col-sm-2">
        <img class="img-circle" ng-src="{{ user.image }}" width="100" height="100">
        <p class="profile-points" style="font-size: 20px;">Points: {{user.points}}</p>
      </div>
      <div class = "col-sm-6">
        <h2 class="profile-header user-title" style="font-size: 34px;
  box-shadow: 0 8px 6px -6px #999;">Welcome, {{user.name}} !</h2>
      </div>
    </div>
  </div>

    <!-- main container (under the welcome user / picture) -->
    <div class="row">
      <!-- sidebar  -->
      <div class="col-sm-4" ng-model="courses">
          <h3>My Classes</h3>
          <md-list>
            <md-list-item ng-repeat="course in courses">
              <p ng-click="showCourse(course.id)" class="course-name-link">{{course.name}}</p>
            </md-list-item>
          </md-list>
      </div>

      <!-- test filtering: -->
      <div ng-cloak>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab ng-click="filterBy='questions'" label="Questions">
                <md-content class="md-padding">
                  <!-- LIST FOR ALL QUESTIONS (MINIMIZE FOR CONVENIENCE) -->
                    <md-card ng-show="filterBy==='questions'" ng-repeat='question in questions | filter:searchText | orderBy:"-updatedAt"' class="question-list-item">
                      <div class="col-sm-2 col-xs-3">
                        <div>
                          <img class="img-circle" ng-src="{{ question.imgUrl }}" class="profile">
                        </div>
                        <!-- number of points current on question -->
                        <div>
                          <span class="glyphicon glyphicon-heart"></span>
                          <span>{{ question.points }}</span>
                          <span>Likes</span>
                        </div>

                        <!-- number of answers current on question -->
                        <div>
                          <span class="glyphicon glyphicon-comment"></span>
                          <span>{{ question.responses }}</span>
                          <span>Answers</span>
                        </div>
                        <!-- link to question id. Title is currently the first 60 characters in the text -->
                      </div>
                      <div class="col-sm-10 col-xs-9">
                        <h3>
                          <a ng-href='#/questions/{{ question.id }}'>{{ question.title }}</a>
                          <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
                        </h3>
                        <md-chips>
                          <md-chip>{{ question.coursename }}</md-chip>
                          <md-chip>{{ question.tagname }}</md-chip>
                        </md-chips>
                        <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
                      </div>
                    </md-card>
                </md-content>
              </md-tab>
              <md-tab ng-click="filterBy='answers'" label="answers">
                <md-content class="md-padding">
                  <!-- LIST OF ALL QUESTIONS FOR USERS CLASSES -->
                  <md-card ng-show="filterBy==='answers'" ng-repeat='question in answers | orderBy:"-updatedAt"' class="question-list-item">
                    <div class="col-sm-2 col-xs-3">
                      <div>
                        <img class="img-circle" ng-src="{{ question.imgUrl }}" class="profile">
                      </div>
                      <!-- number of points current on question -->
                      <div>
                        <span class="glyphicon glyphicon-heart"></span>
                        <span>{{ question.points }}</span>
                        <span>Likes</span>
                      </div>

                      <!-- number of answers current on question -->
                      <div>
                        <span class="glyphicon glyphicon-comment"></span>
                        <span>{{ question.responses }}</span>
                        <span>Answers</span>
                      </div>
                      <!-- link to question id. Title is currently the first 60 characters in the text -->
                    </div>
                    <div class="col-sm-10 col-xs-9">
                      <h3>
                        <a ng-href='#/questions/{{ question.id }}'>{{ question.text }}</a>
                        <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
                      </h3>
                      <img ng-src="{{question.giphyUrl}}" ng-show="!!question.giphyUrl">
                      <md-chips>
                        <md-chip>{{ question.coursename }}</md-chip>
                        <md-chip>{{ question.tagname }}</md-chip>
                      </md-chips>
                      <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
                    </div>
                  </md-card>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
         </div>

<!-- cut info here -->

<!-- paste it here -->

<!--     // <ul>
    //   <li ng-repeat="user in users">
    //     <span>{{user.name}}</span>
    //   </li>

    All Activity
    Questo
    // </ul> -->

  </div>
</div>
