<!-- client/app/users/user.html -->
<div ng-module='boorish.user'>
  <div ng-model='user' ng-controller='UserController'>

  <div class="profile-container">
    <div class="row">
      <div class="col-sm-2">
        <img ng-src="{{ user.picture }} " width="50" height="50">
        <p>Points: {{user.points}}</p>
      </div>
      <div class = "col-sm-6">
        <h2 class="profile-header user-title">Welcome, {{user.username}} !</h2>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-4" ng-model="classes">
          <h3>Your Classes</h3>
          <ul class="class-list">
            <li ng-repeat="class in classes">
              <a href="/#/classes/:id"><p>{{class}}</p></a>
            </li>
          </ul>
      </div>
      <div class="col-sm-8">
        <div class="collapse navbar-collapse" id="userActivity-navbar-collapse">
          <ul class="nav navbar-nav" style="font-size: 24px;font-weight: 500;">
            <li><a class="nav-link" href="/#">All Activity</a></li>
            <li><a class="nav-link" href="/#">My Questions</a></li>
            <li><a class="nav-link" href="/#">My Answers</a></li>
          </ul>
        <!-- <h3>All Activity</h3> -->
          

      </div>
  </div>
</div>

<!--     // <ul>
    //   <li ng-repeat="user in users">
    //     <span>{{user.name}}</span>
    //   </li>

    All Activity
    Questo
    // </ul> -->

  </div>
</div>