<!--<!DOCTYPE html>-->
<!--<html ng-app="boorishpenguin.users">-->
  <!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <!--&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>&ndash;&gt;-->
    <!--<script src="users.js"></script>-->
  <!--</head>-->
  <!--<body ng-controller="UsersController">-->
    <!--&lt;!&ndash;<div ng-view></div>&ndash;&gt;-->
    <!--<ul>-->
      <!--<li ng-repeat="user in users">-->
        <!--<span>{{user.name}}</span>-->
      <!--</li>-->
    <!--</ul>-->

  <!--</body>-->
<!--</html>-->

<div ng-module='boorish.users'>
  <div ng-model='users' ng-controller='UsersController'>
    <ul>
      <li ng-repeat="user in users">
        <span>{{user.name}}</span>
      </li>
    </ul>
  </div>
</div>