<div ng-module='boorish.ask'>
  <form>
    <h3>NEW QUESTION</h3>
    <hr>
    <div class="dropdown-form form-group">
      <label class="dropdown-label">Course</label>
      <select class="form-control" name="courseSelect" ng-model="courseOptions.selectedOption" ng-options="option.name for option in courseOptions.availableOptions track by option.id"></select>
    </div>
    <div class="dropdown-form form-group">
      <label class="dropdown-label">Topic</label>
      <select class="form-control" name="tagSelect" ng-model="tagOptions.selectedOption" ng-options="option.name for option in tagOptions.availableOptions track by option.id"></select>
    </div>
    <div class="form-group">
    <input class="form-control" type='question' ng-model='question.title'  size = "50" placeholder='What is your question?'>
    </div>
    <div class="form-group">
      <textarea class="form-control" type='question' ng-model='question.text' rows='5' cols='80' maxlength="255" ng-trim="false" placeholder='Add more details'></textarea>
      <span>Characters left: {{255 - question.text.length}}</span>
    </div>


    <div class="form-group pull-right">
    <input class="btn btn-default" type='reset' value='Cancel'>
    <input class="btn btn-primary" type='submit' ng-click='addQuestion()' value='Ask question'>
    </div>
  </form>
</div>


<!--<div class="dropdown">-->
  <!--<a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">-->
    <!--{{courseOptions.selectedOption.name}}-->
    <!--<span class="caret"></span>-->
  <!--</a>-->
   <!--<ul class="dropdown-menu">-->
     <!--<li ng-repeat="option in courseOptions.availableOptions"><a href="" ng-click="">{{option.name}}</a></li>-->
   <!--</ul>-->
<!--</div>-->
