body {
}

#logout {
  cursor: pointer;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #555555;
}

select {
  width: auto !important;
}

.btn {
  padding-top: 10px;
}

.navigation {
  /*copying navbar-default*/
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-bottom: 4px solid #e7e7e7;
}

.navs {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.navs > * {
  list-style: none;
  margin: 0 5px;
  display: inline-flex;
  padding: 5px;
}

.navs > a {
  /*background-color:darkgrey;*/
  padding: 6px;
}
.navs > a > span {
  padding: 2px;
}

.search-box {
  width: 250px;
  margin-left: auto;
}

.user-profile-link {
  width: 32px;
  height: 32px;
}

.question-list-item {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 5px 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.question-summary {
  width: 150px;
}

.question-content {
  /*width: 70%;*/
  flex-grow: 1;
}

.question-page-item {
  background-color: rgb(248, 248, 248);
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 5px 5px 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-content: center;
}

.answer-page-item {
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #eeeeee;
}

.question-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  margin-left: 15px;
  margin-right: 15px;
}

/*.answer {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*background-color: green;*/
/*}*/

.answer-votes {
  width: 100px;

}

.answer-content {
  flex-grow: 1;
}

.tag, .course {
  padding: 10px;
  background-color: lightblue;
  display: inline-block;
}

.dropdown-label {
  text-align: right;
  padding: 10px 5px;
}

.dropdown-form * {
  display: inline-block;
}

.question-filter {
  cursor: pointer;
  display: inline;
  float: left;
  margin-left: 15px;
}

.question-filter-ul {
  list-style: none;
}

.class-sidebar-li {
  /*font-weight: bold;*/
  /*display: inline;*/
  /*float: left;*/
  font-size: 1.5em;
  list-style: none;
}

.class-sidebar-li > p {
  display: inline;
}

.class-sidebar-li > button {
  display: inline;
  float: right;
  font-size: 0.6em;
}

#join-class-header {
  cursor: default;
  display: block;
  width: 100%;
}

.border-left {
  border-left: 1px solid #EEEEEE;
}