<div class="col-md-3">
  <h3>All Classes</h3>
  <md-list ng-cloak>
    <md-list-item ng-repeat="course in allCourses">
      <p  class="course-name-link" ng-click="showCourse(course.id)"> {{course.name}} </p>
      <md-button ng-click="addToCourse(allCourses.indexOf(course))" ng-show="userCourseIds.indexOf(course.id) === -1"  class="md-icon-button md-accent" aria-label="Favorite"><i class="material-icons">star_border</i></md-button>
      <md-button ng-click="addToCourse(allCourses.indexOf(course))" ng-show="userCourseIds.indexOf(course.id) >= 0"  class="md-icon-button md-accent" aria-label="Favorite"><i class="material-icons">star</i></md-button>
    </md-list-item>
  </md-list>

  <form name="createClass">
    <div layout-gt-sm="row">
      <md-input-container flex>
        <label>Class</label>
        <textarea ng-model="newClass"></textarea>
      </md-input-container>
      <md-button ng-click="createAClass()">Submit</md-button>
    </div>
  </form>

  <form name="createTag">
    <div layout-gt-sm="row">
      <md-input-container flex>
        <label>Tag</label>
        <textarea ng-model="newTag"></textarea>
      </md-input-container>
      <md-button ng-click="createATag()">Submit</md-button>
    </div>
  </form>

  <!-- <input type="text" ng-model="newClass">
  <button ng-click="createClass()">create class</button>
  <br>
  <input type="text" ng-model="newTag">
  <button ng-click="createTag()">create tag</button> -->
</div>

<div ng-module='boorish.questions' class="col-xs-9 border-left">
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-click="listFilter='allQuestions'" label="All">
          <md-content class="md-padding">
            <!-- LIST FOR ALL QUESTIONS (MINIMIZE FOR CONVENIENCE) -->
              <md-card ng-show="listFilter==='allQuestions'" ng-repeat='question in questions | filter:searchText | orderBy:"-updatedAt"' class="question-list-item">
                <div class="col-sm-2 col-xs-3">
                  <div>
                    <img class="img-circle" ng-src="{{ question.imgUrl }}" class="profile">
                  </div>
                  <!-- number of points current on question -->
                  <div>
                    <span class="glyphicon glyphicon-heart"></span>
                    <span>{{ question.points }}</span>
                    <span>Likes</span>
                  </div>

                  <!-- number of answers current on question -->
                  <div>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>{{ question.responses }}</span>
                    <span>Answers</span>
                  </div>
                  <!-- link to question id. Title is currently the first 60 characters in the text -->
                </div>
                <div class="col-sm-10 col-xs-9">
                  <h3>
                    <a ng-href='#/questions/{{ question.id }}'>{{ question.title }}</a>
                    <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
                  </h3>
                  <md-chips>
                    <md-chip>{{ question.coursename }}</md-chip>
                    <md-chip>{{ question.tagname }}</md-chip>
                  </md-chips>
                  <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
                </div>
              </md-card>
          </md-content>
        </md-tab>
        <md-tab ng-click="filterQuestionsByClasses()" label="My Classes">
          <md-content class="md-padding">
            <!-- LIST OF ALL QUESTIONS FOR USERS CLASSES -->
            <md-card ng-show="listFilter==='myClasses'" ng-repeat='question in userCourseQuestions track by $index | filter:searchText | orderBy:"-updatedAt"' class="question-list-item">
              <div class="col-sm-2 col-xs-3">
                <div>
                  <img class="img-circle" ng-src="{{ question.imgUrl }}" class="profile">
                </div>
                <!-- number of points current on question -->
                <div>
                  <span class="glyphicon glyphicon-heart"></span>
                  <span>{{ question.points }}</span>
                  <span>Likes</span>
                </div>

                <!-- number of answers current on question -->
                <div>
                  <span class="glyphicon glyphicon-comment"></span>
                  <span>{{ question.responses }}</span>
                  <span>Answers</span>
                </div>
                <!-- link to question id. Title is currently the first 60 characters in the text -->
              </div>
              <div class="col-sm-10 col-xs-9">
                <h3>
                  <a ng-href='#/questions/{{ question.id }}'>{{ question.title }}</a>
                  <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
                </h3>
                <md-chips>
                  <md-chip>{{ question.coursename }}</md-chip>
                  <md-chip>{{ question.tagname }}</md-chip>
                </md-chips>
                <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
              </div>
            </md-card>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
   </div>
</div>


          <!--text: question.text,-->
          <!--isAnAnswer: false,-->
          <!--points: question.points,-->
          <!--responses: question.responses,-->
          <!--isAnswered: question.isAnswered,-->
          <!--isGood: question.isGood,-->
          <!--isClosed: question.isClosed,-->
          <!--createdAt: question.createdAt,-->
          <!--coursename: question.Course.name,-->
          <!--tagname: question.Tag.name,-->
          <!--user: question.User.name-->