<div class="col-md-3">
  <h3 class="question-filter" id="join-class-header">Join a new class</h3>
  <div class="list-of-courses">
    <ul>
      <li class="class-sidebar-li lead" ng-repeat="course in allCourses">
        <div class="row">
          <div class="col-xs-3">
            
            <button class="btn btn-default" ng-show="userCourseIds.indexOf(course.id) === -1" ng-click="addToCourse(allCourses.indexOf(course))"><span class="glyphicon glyphicon-plus-sign"></span></button>

          </div>

          <div class="col-xs-9">
            <p>{{course.name}}</p>
          </div>
        </div>
        
      </li>
    </ul>
  </div>
  <!-- <input type="text" ng-model="newClass">
  <button ng-click="createClass()">create class</button>
<br> -->
  <!-- <input type="text" ng-model="newTag">
  <button ng-click="createTag()">create tag</button> -->
</div>

<div ng-module='boorish.questions' class="col-md-9 border-left">
  <ul class="question-filter-ul">
    <li>
      <h3 class="question-filter" ng-click="listFilter='allQuestions'">All</h3>
    </li>
    <li>
      <h3 class="question-filter" ng-click="filterQuestionsByClasses()">My Classes</h3>
    </li>
  </ul>

  <!-- LIST FOR ALL QUESTIONS (MINIMIZE FOR CONVENIENCE) -->
      <div ng-show="listFilter==='allQuestions'" ng-repeat='question in questions | filter:searchText | orderBy:"-updatedAt"' class="question-list-item">
        <div class="col-sm-2 col-xs-3">
          <div>
            <img ng-src="{{ question.imgUrl }}0" width="50" height="50">
          </div>
          <!-- number of points current on question -->
          <div>
            <span class="glyphicon glyphicon-heart"></span>
            <span>{{ question.points }}</span>
            <span>Likes</span>
          </div>

          <!-- number of answers current on question -->
          <div>
            <span class="glyphicon glyphicon-comment"></span>
            <span>{{ question.responses }}</span>
            <span>Answers</span>
          </div>
          <!-- link to question id. Title is currently the first 60 characters in the text -->
        </div>
        <div class="col-sm-10 col-xs-9">
          <h3>
            <a ng-href='#/questions/{{ question.id }}'>{{ question.title }}</a>
            <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
          </h3>

          <div class="course">{{ question.coursename }}</div>
          <div class="tag">{{ question.tagname }}</div>
          <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
        </div>
        <hr>
      </div>

  <!-- LIST OF ALL QUESTIONS FOR USERS CLASSES -->
      <div ng-show="listFilter==='myClasses'" ng-repeat='question in userCourseQuestions track by $index | filter:searchText | orderBy:"-updatedAt"' class="question-list-item">
        <div class="col-sm-2 col-xs-3">
          <div>
            <img ng-src="{{ question.imgUrl }}0" width="50" height="50">
          </div>
          <!-- number of points current on question -->
          <div>
            <span class="glyphicon glyphicon-heart"></span>
            <span>{{ question.points }}</span>
            <span>Likes</span>
          </div>

          <!-- number of answers current on question -->
          <div>
            <span class="glyphicon glyphicon-comment"></span>
            <span>{{ question.responses }}</span>
            <span>Answers</span>
          </div>
          <!-- link to question id. Title is currently the first 60 characters in the text -->
        </div>
        <div class="col-sm-10 col-xs-9">
          <h3>
            <a ng-href='#/questions/{{ question.id }}'>{{ question.title }}</a>
            <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
          </h3>

          <div class="course">{{ question.coursename }}</div>
          <div class="tag">{{ question.tagname }}</div>
          <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
        </div>
        <hr>
      </div>
  <!--<hr>-->
</div>


          <!--text: question.text,-->
          <!--isAnAnswer: false,-->
          <!--points: question.points,-->
          <!--responses: question.responses,-->
          <!--isAnswered: question.isAnswered,-->
          <!--isGood: question.isGood,-->
          <!--isClosed: question.isClosed,-->
          <!--createdAt: question.createdAt,-->
          <!--coursename: question.Course.name,-->
          <!--tagname: question.Tag.name,-->
          <!--user: question.User.name-->