<div ng-module='boorish.questions' >
  <h1>Questions</h1>

      <div ng-repeat='question in questions' class="question-list-item">
        <div class="col-sm-2 col-xs-3">
         img url:  <a>{{ question.imgUrl }}</a>
          <div>
            <img src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width="64" height="64">
          </div>
          <!-- number of points current on question -->
          <div>
            <span class="glyphicon glyphicon-heart"></span>
            <span>{{ question.points }}</span>
            <span>Likes</span>
          </div>

          <!-- number of answers current on question -->
          <div>
            <span class="glyphicon glyphicon-comment"></span>
            <span>{{ question.responses }}</span>
            <span>Answers</span>
          </div>
          <!-- link to question id. Title is currently the first 60 characters in the text -->
        </div>
        <div class="col-sm-10 col-xs-9">
          <h3>
            <a ng-href='#/questions/{{ question.id }}'>{{ question.title }}</a>
            <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
          </h3>

          <div class="course">{{ question.coursename }}</div>
          <div class="tag">{{ question.tagname }}</div>
          <div>- asked by {{ question.user }} at {{ question.createdAt }}</div>
        </div>
      </div>
</div>

<script>
  jQuery(document).ready(function() {
    jQuery("time.timeago").timeago();
  });
</script>

          <!--text: question.text,-->
          <!--isAnAnswer: false,-->
          <!--points: question.points,-->
          <!--responses: question.responses,-->
          <!--isAnswered: question.isAnswered,-->
          <!--isGood: question.isGood,-->
          <!--isClosed: question.isClosed,-->
          <!--createdAt: question.createdAt,-->
          <!--coursename: question.Course.name,-->
          <!--tagname: question.Tag.name,-->
          <!--user: question.User.name-->