<div ng-module='boorish.chat'>
  <div id="parent chat" ng-model='messages' ng-controller='chatController'>
    <div container class="chat-container">
      <div class='row'>
        <div class="col-sm-6 col-sm-offset-3">
          <h3>Welcome to the chat room!</h3>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-4 col-sm-offset-2">
          <label>Name</label>
          <div class='row'>
            <input type='text' id='nameInput' ng-model='message.name' placeholder='Enter name...'>
          </div>     
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-4 col-sm-offset-2">
          <label id="inner">Message</label>
          <div class='row'>
              <input type='text' style="heigh:50px;" id='messageInput' ng-model='message.text' placeholder='Enter message...'>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-6 col-sm-offset-2">
          <input class="btn btn-primary" type='submit' ng-click='addMessage()' value='Submit'>
        </div>
      </div>
      <hr>
      <div class="row">
        <div id="messagesDiv" style="background-color: #009688; border: 6px solid #002D29; padding: 12px; color: white; font-size: 18px;">
          <div ng-repeat='message in messages'>
            <p>
              <span style="font-weight:bold;">{{message.name}}:</span>  
              <span style="font-style:italic">{{message.text}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
