<div ng-module='boorish.answers'>
  <div ng-model='data.question' class="answer">
    <div class="answer-votes">
      <a href="" ng-click='updateQuestion("like")'>
        <span class="glyphicon glyphicon-heart"></span>
        <span>{{ data.question.points }}</span>
      </a>
      <!--<input type='submit' ng-click='updateQuestion("like")' value='like'>-->
      <a href="" ng-click='updateQuestion("good")'>
        <span class="glyphicon glyphicon-ok-sign"></span>
        <span>{{ data.question.isGood }}</span>
      </a>
      <!--<input type='submit' ng-click='updateQuestion("good")' value='Good'>-->
      <!--<div>{{ data.question.isGood }}</div>-->

      <!--<input type='submit' ng-click='updateQuestion("answered")' value='Answered'>-->
      <!--<div>{{ data.question.isAnswered }}</div>-->
    </div>
    <div class="answer-content">
      <div><h1>{{ data.question.text }}</h1></div>
      <div>{{ data.question.user }}</div>
      <div>{{ data.question.tag }}</div>
      <input type='submit' ng-click='removeQuestion(data.question.id)' value='remove'>
    </div>
  </div>
  <div ng-model='data.answers'>
    <div ng-repeat='answer in data.answers'>
      <input type='submit' ng-click='updateAnswer($index, "like")' value='like'>
      <input type='submit' ng-click='updateAnswer($index, "good")' value='like'>
      <input type='submit' ng-click='updateAnswer($index, "answered")' value='Answered'>
      <div>{{ answer.points }}</div>
      <div>{{ answer.text }}</div>
      <div>{{ answer.user }}</div>
      <div>{{ answer.tag }}</div>
      <div>{{ answer.isGood }}</div>
      <input type='submit' on-click='removeAnswer($index)' value='remove'>
    </div>
  </div>
  <div>
    <h3>Answer this question:</h3>
    <form>
      <textarea rows='5' cols='80' ng-model='newAnswer.text' placeholder='Write your answer'></textarea></br>
      <input type='reset' value='Cancel'>
      <input type='submit' ng-click='addAnswer()' value='Submit answer'>
    </form>
  </div>
</div>
