<div ng-module='boorish.answers'>
  <div ng-model='data.question' class="question-page-item">
    <div class="answer-content">
      <div class="question-header">
        <h3 class="">
          {{ data.question.title }}
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.question.isGood == true"></span>
        </h3>
        <div class="dropdown" style="margin-left: auto">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Mark
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="" type='submit' ng-click='updateQuestion("good")'>Approved</a></li>
            <li><a href="" type='submit' ng-click='updateQuestion("answered")'>Answered</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="col-xs-3">
        <div>
          <img ng-src="{{ data.question.imgUrl }}0" width="64" height="64">
        </div>
        <!-- number of points current on question -->
        <a href="" type='submit'  ng-click='updateQuestion("like")'>
          <span class="glyphicon glyphicon-heart"></span>
          <span>{{ data.question.points }}</span>
          <span>Likes</span>
        </a>
      </div>
      <div class="col-xs-9">
        <div class="answer-text">{{ data.question.text }}</div>
        <div class="answer-user">- {{ data.question.user }}</div>
        <div class="course">{{ data.question.coursename }}</div>
        <div class="tag">{{ data.question.tagname }}</div>
        <input class="btn btn-default pull-right" type='submit' ng-click='removeQuestion(data.question.id)' value='Remove'>
      </div>
    </div>
  </div>

   <div ng-model='data.answers'  >
     <div class="answer-content">
      <h3>{{data.answers.length}} Answers</h3>
      <hr>
      <div ng-repeat='answer in data.answers' class="answer-page-item">
        <div class="col-xs-3">
          <div>
            <img ng-src="{{ answer.imgUrl }}0" width="64" height="64">
          </div>
          <div>
            <a href="" type='submit'  ng-click='updateAnswer($index, "like")'>
              <span class="glyphicon glyphicon-heart"></span>
              <span>{{ answer.points }}</span>
              <span>Likes</span>
            </a>
          </div>
          <div>
            <a href="" type='submit'  ng-click='updateAnswer($index, "good")'>
              <span class="glyphicon glyphicon-ok-sign ng-scope"></span>
              <span>{{ answer.isGood }}</span>
              <!--<span>Likes</span>-->
            </a>
          </div>
          <!--<input class="btn btn-default" type='submit' ng-click='updateAnswer($index, "good")' value='Good'>-->
          <!-- <input type='submit' ng-click='updateAnswer($index, "answered")' value='Answered'> -->
        </div>
        <div class="col-xs-9">
          <div class="answer-text">{{ answer.text }}</div>
          <div class="answer-user">{{ answer.user }}</div>
          <!--<div>{{ answer.isGood }}</div>-->
            <img ng-show="!!answer.giphyUrl" ng-src="{{answer.giphyUrl}}">
          <input class="btn btn-default pull-right" type='submit' ng-click='removeAnswer($index)' value='remove'>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3>Your answer</h3>
    <form ng-submit="submitAnswer()">
      <div class="form-group">
        <textarea class="form-control" rows='5' cols='80' ng-model='newAnswer.text' maxlength="255" ng-trim="false"  placeholder='Write your answer'></textarea>
        <span>Characters left: {{255 - newAnswer.text.length}}</span>
      </div>
      <div class="row">
        <div class="form-group col-xs-8">
          <input class="form-control" type="text" ng-model="giphyString" placeholder="Add some emotion to that boring answer (optional)">
        </div>
        <div class="form-group pull-right col-xs-4">
          <input class="btn btn-primary submit-answer-button" type='submit' id='submit' value='Submit'>
        </div>
      </div>
    </form>
    <!-- <form >
      Enter text and hit enter:
      <input type="text" ng-model="text" name="text" />
      <input type="submit" id="submit" value="Submit" />
      <pre>list={{list}}</pre>
    </form> -->
  </div>
</div>
