<div ng-module='boorish.answers'>
  <div ng-model='data.question' class="answer">
    <!--<div class="answer-votes">-->
      <!--<a href="" ng-click='updateQuestion("like")'>-->
        <!--<span class="glyphicon glyphicon-heart"></span>-->
        <!--<span>{{ data.question.points }}</span>-->
      <!--</a>-->
      <!--&lt;!&ndash;<input type='submit' ng-click='updateQuestion("like")' value='like'>&ndash;&gt;-->
      <!--<a href="" ng-click='updateQuestion("good")'>-->
        <!--<span class="glyphicon glyphicon-ok-sign"></span>-->
        <!--<span>{{ data.question.isGood }}</span>-->
      <!--</a>-->
      <!--&lt;!&ndash;<input type='submit' ng-click='updateQuestion("good")' value='Good'>&ndash;&gt;-->
      <!--&lt;!&ndash;<div>{{ data.question.isGood }}</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<input type='submit' ng-click='updateQuestion("answered")' value='Answered'>&ndash;&gt;-->
      <!--&lt;!&ndash;<div>{{ data.question.isAnswered }}</div>&ndash;&gt;-->
    <!--</div>-->
    <div class="answer-content">
      <div>
        <h1>
          {{ data.question.title }}
          <span class="glyphicon glyphicon-ok-sign" ng-if="data.question.isGood == false"></span>
        </h1>
      </div>
      <div>{{ data.question.text }}</div>
      <div>{{ data.question.user }}</div>
      <div>{{ data.question.tag }}</div>

       <!-- number of points current on question -->
          <div>
            <span class="glyphicon glyphicon-heart"></span>
            <span>{{ question.points }}</span>
            <span>Likes</span>
          </div>

          <!-- number of answers current on question -->
          <div>
            <span class="glyphicon glyphicon-comment"></span>
            <span>{{ question.responses }}</span>
            <span>Answers</span>
          </div>
      <input class="btn btn-default" type='submit' ng-click='removeQuestion(data.question.id)' value='remove'>
    </div>
  </div>
  <div ng-model='data.answers'>
    <div ng-repeat='answer in data.answers'>
      <input type='submit' ng-click='updateAnswer($index, "like")' value='like'>
      <input type='submit' ng-click='updateAnswer($index, "good")' value='like'>
      <input type='submit' ng-click='updateAnswer($index, "answered")' value='Answered'>
      <div>{{ answer.points }}</div>
      <div>{{ answer.text }}</div>
      <div>{{ answer.user }}</div>
      <div>{{ answer.tag }}</div>
      <div>{{ answer.isGood }}</div>
      <input type='submit' ng-click='removeAnswer($index)' value='remove'>
    </div>
  </div>
  <div>
    <h3>Answer this question:</h3>
    <form>
      <textarea class="form-control" rows='5' cols='80' ng-model='newAnswer.text' placeholder='Write your answer'></textarea></br>
      <input class="btn btn-default" type='reset' value='Cancel'>
      <input class="btn btn-primary" type='submit' ng-click='addAnswer()' value='Submit answer'>
    </form>
  </div>
</div>
